
<div class="box1">
	<h1>退会ページ</h1>
	<p>本当に退会しますか？<br>一度退会すると二度とログインできなくなります。退会する場合は、「退会する」をクリックしてください。</p>
</div>
<div class="box">

		<div class="user_edit_botton">
			<%= link_to "退会する", tidori_sushi_unsubscribe_update_path, method: :patch, class: "button_content button_field btn btn-primary" %>
			<%= link_to "戻る", root_path, class: "button_content button_field btn btn-default" %>
		</div>
</div>



<% content_for :css do %>
  <%= stylesheet_link_tag 'user_user_leave' %>
<% end %>