
<div class="box1">
	<h1>店舗管理者申請一覧</h1>
</div>
<div class="box">

	<table class="cp_table">
		<thead>
			<tr>
				<div class="icon_tr">
					<th colspan="4", class="caption">店舗申請者</th>
				</div>
			</tr>
		</thead>
		<tbody>
			<% @store_admin_applications.each do |store_admin_application| %>
				<tr>
					<th>氏名</th>
					<td><%= link_to "#{store_admin_application.family_name} #{store_admin_application.first_name}", users_store_admin_application_path(store_admin_application) %></td>
					<% if store_admin_application.process_status == true %>
						<td><p>申請中</p></td>
					<% else %>
						<td><p>処理済み</p></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>


<% content_for :css do %>
  <%= stylesheet_link_tag 'user_store_admin_application_index' %>
<% end %>
