* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
html {
	min-height: 100%;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #f0eeeb;
}

.content_footer{
  text-align: center;
  padding: 10px;
}
.footer_message {
  margin-top:  20px;
}
