
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

html {
  min-height: 100%;
}
body {
  padding-top: 51px;
  background-image: image-url("image02.jpg"),linear-gradient(#F4F4F4, #C8C8C8);
  background-blend-mode: multiply;
  background-size: cover;
}

.container {
  height: 500px;
}

input[class="text_field"]:focus {
  background: #faf4e2;
}
.link_content:hover {
  color: #0bd;
  text-decoration: none;
}

.box {
  width: 88%;
  background-color: #FFFFFF;
  margin: 60px auto 60px;
  border-radius: 4px;
  border: 1px #ddd solid;
  padding: 30px;
  text-align: center;

}
.text_field {
  width: 90%;
  border: 2px solid #ccc;
  outline: none;
  padding: 6px;
  font-size: 15px;
}
.input_field{
  margin: 20px;
}

input[class="text_field"], input[class="button_field"]{
  margin-bottom: 10px;
}

.link_to {
  margin-top: 10px;

}

.botton {
  text-align: center;
}
.botton_content {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 7px;
  margin-left: 10px;
  margin-right: 10px;
}
.link_to {
  margin-bottom: 10px;
}