* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
html {
	min-height: 100%;
}
body {
 	padding-top: 51px;
  background-color: #f0eeeb;
}


.show_content_cover{
  background-color: #f0eeeb;
}

.main_visual_box{
  width: 100%;
  height: 230px;
}

.main_visual{
  width: 100%;
  height: 230px;
  background-image: image-url("image03.jpg");
  background-size: cover;
  background-position: top top;
}


.store_tag_box{
  width: 60%;
  height: 60px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.store_tag{
  width: 30%;
  height: 60px;
  background-color: white;
  text-align: center;
  line-height: 60px;
  border-radius: 4;
}

.fa, .fa-heart, .fa, .fa-heart-o{
  font-size: 25px;
}



.main_box{
  width: 90%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;

}

.show_left{
  width: 65%;
}

.title{
  width: 100%;
  background-color: white;
  padding: 15px 50px 30px 50px;
  border-bottom: 1px solid #e1e1e1;

}
.title h1{
}
.store_news{
  width: 100%;
  background-color: red;
  margin-top: 20px;
}
.store_news_text{
  color: white;
  padding: 7px;
}



.comment{
  width: 100%;
  background-color: white;
  padding: 50px 10px 50px 50px;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}

.comment_visual_box{
  width: 40%;
  height: 200px;
  background-color: red;

}
.comment_visual{
  width: 100%;
  height: 200px;
  background-color: red;

}

.comment_body{
  width: 60%;
  padding: 20px 20px 30px 20px;
}

.buzz{
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 30px 50px 50px;
}


.menu{
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 30px 50px 50px;
}
.menu_title{
  border-bottom: 1px solid #e1e1e1;
}
.menu_text h3,{
  font-size: 18px;
}
.menu_text{
  display: flex;
  justify-content: space-between;

}
.menu_text_body{
  border-bottom: 1px solid #e1e1e1;
}

p{
  font-size: 16px;
}
.menu_link{
  text-align: right;
  margin-top: 15px;
}


.buzz{
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 30px 50px 50px;
}




div[class="right"] {
  width: 30%;
  background-color: white;
  padding-top: 30px;

}
.map_field_box{
  width: 95%;
  height: 200px;
  margin: 10px auto 10px;
}

.map_field{
  width: 100%;
  height: 200px;
}
.store_date{
  width: 95%;
  height: 300px;
  background-color: white;
  margin: 30px auto 10px;
  padding-top: 20px;
}

.store_date p{
  font-size: 16px;
}


.comment_body_in{
  display: flex;
  justify-content: space-between;
}



//store_showからの記述です
.menu_field{
  width: 100%;
  background-color: white;
  padding: 50px 10px 50px 50px;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}

.comment_menu{
  width: 100%;
  background-color: white;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}

.buzz_text_body_buzz{
  position: relative;
  padding: 20px 0 20px;
  border-bottom: 1px solid #e1e1e1;
}
.buzz_visual_box_buzz{
  width: 20%;
  background-color: red;
}
.buzz_visual_buzz{
  width: 100%;
  height: 100px;
  background-color: red;
}
.buzz_text{
  display: flex;
  justify-content: space-between;

}


.index_comment_menu{
  border-bottom: 1px solid #e1e1e1;
  margin: 40px 0  40px;
  padding-bottom: 20px;
}


@media only screen and (max-width:480px) {

  .main_box{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  div[class="left"] {
    width: 100%;

  }

  div[class="right"] {
    width: 100%;
    background-color: white;
    padding-top: 30px;
  }

  .main_box{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;

  }
  .show_left{
    width: 100%;
  }
  .comment_visual_box{
    width: 40%;
    height: 150px;
    background-color: red;

  }
  .comment_visual{
    width: 100%;
    height: 150px;
    background-color: red;

  }



}
