
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
html {
  min-height: 100%;
}
body {
  padding-top: 51px;
  background-image: image-url("image03.jpg"),linear-gradient(#F4F4F4, #C8C8C8);
  background-blend-mode: multiply;
  background-size: cover
}



.home_box1{
  width: 60%;
  height: 100px;
  background-color: #FFFFFF;
  margin: 50px auto;
  border-radius: 4px;
  text-align: center;
  line-height: 100px;

}

.home_link_content{
  font-size: 20px;
}



@media only screen and (max-width:480px) {
  .home_box1{
	  width: 90%;
	  height: 100px;
	  background-color: #FFFFFF;
	  margin: 50px auto;
	  border-radius: 4px;
	  text-align: center;
	  line-height: 100px;

	}

}
