<p>tidori_sushi/stores/top</p>
<p>/  ルート</p>

<table>
	<caption>table title and/or explanatory text</caption>
	<thead>
		<tr>
			<th>heade</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>data</td>
		</tr>
	</tbody>
</table>